body{
    margin:0;
    padding:0;
    background:#f8f8f8
}
.kuang{
    width:1098px;
    background:url(../images/bg.png) no-repeat;
    height:371px;
    margin:50px auto
}
.kuang-top{
    width:1040px;
    height:60px;
    margin:0 auto;
    border-bottom:1px solid #d0d6d9
}
.kuang-top_text{
    width:100px;
    font-size:16px;
    line-height:70px
}
.kuang-top_text1{
    width:auto;
    font-size:16px;
    line-height:70px;
    color:#5e5e5e;
    margin:30px 0 0 70px
}
.kuang-tex{
    width:auto;
    margin:20px 0 0 100px;
}
.kuang-tex span{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:28px
}
.kuang-tex span input{
    width:500px;
    background:#f8f8f8;
    height:30px;
    border:1px solid #cac9c9
}
.kuang-tex1{
    width:auto;
    margin:40px 0 0 100px;
}
.kuang-tex1 span{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:28px
}
.kuang-tex1 span input{
    width:500px;
    background:#f8f8f8;
    height:30px;
    border:1px solid #cac9c9
}
.kuang-tex2{
    width:auto;
    margin:20px 0 0 100px;
    float:left
}
.kuang-tex2 span{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:28px
}
.kuang-tex2 span input{
    width:300px;
    background:#f8f8f8;
    height:30px;
    border:1px solid #cac9c9
}
.kuang-tex3{
    width:auto;
    margin:38px 0 20px 100px;
    float:left
}
.kuang-tex3 span{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:28px
}
.kuang-tex3 span input{
    width:500px;
    background:#f8f8f8;
    height:30px;
    border:1px solid #cac9c9
}
.kuang-btn{
    width:500px;
    margin:60px 0 0 185px;
    float:left
}
.kuang-btn1{
    width:500px;
    margin:50px 0 0 219px;
    float:left
}
.kuandu{
    width:80px;
    text-align:right
}
.kuang-tex4{
    width:auto;
    margin:50px 0 0 100px;
}
.kuang-tex4 span{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:28px
}
.kuang-tex4 span input{
    width:500px;
    background:#f8f8f8;
    height:30px;
    border:1px solid #cac9c9
}
.text2{
    width:500px;
    float:left;
    margin:15px 0 0 220px;
    font-size:12px
}
.text2 a{
    text-decoration:none;
    color:#0593d3
}
.goxi{
    font-size:32px;
    color:#0593d3;
    text-align:center;
    width:100%;
    margin:150px 0 0 0;
    float:left
}