.popbox {
    width: 916px;
    height: auto;
    padding: 0px 60px 44px 36px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 120;
    background-color: #ffffff;
}
.c_e_alertTitle{
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    color: #222121;
    font-weight: normal;
}
.popboxContTxt{
    width: 100%;
    height: auto;
    margin-top: 30px;
    line-height: 24px;
    font-size: 14px;
    color: #777575;
    font-size: 14px;
}
.knowtBtn input{
    margin: 0 auto;
    display: block;
    border: none;
    background: none;
    outline: none;
    margin-top: 30px;
    width: 164px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #0593d3;
    font-size: 18px;
    color: #ffffff;
}

#loginForm .n-invalid {
    border: 1px solid #f00;
}